@media (max-width: @screen-xs) {
    body{font-size: 20px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 10px;}
}

.card{
	margin: 5%;
	width: auto;
	box-shadow: 20px 40px 60px rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
}
.card-header{
	margin-bottom: 2%;
}
body{
	background: linear-gradient(#2186f3, #2156f3);
	text-align: justify;
}
h1,h3{
	text-align: left;
}